.order_card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.order_card h3,
.order_card p{
    margin-bottom: 10px;
}

.order_items {
  margin-top: 15px;
}

.order_item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.order_item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.order_card{
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: .4s;
}

.active-order{
    border-color: var(--main_color);
    box-shadow: 0 0 25px rgba(0,144,240,.4);
    transform: scale(1.02);
}
.new_badge{
    margin-left: 10px;
    background: #00c853;
    color: #fff;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
}
@media (max-width: 768px) {
  .new_badge{
    display: inline-block;
    margin-left: auto;
  }
}